# 1. Implementation of an ETL process

This notebook runs an ETL script on the base data, which extracts, transforms and finally loads the data into the PostgreSQL database.

## Extraction

First, the necessary imports are carried out, the database access data defined, the session initialised and the data fetched from the csv file:

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# PostgreSQL access data
host = "bda_gr4_database"
port = "5432"
database = "domainanalysis"
user = "postgres"
password = "postgres"
table = "domain"

# PostgreSQL connection url
connection = f"jdbc:postgresql://{host}:{port}/{database}"

# Create a Spark session
spark = SparkSession.builder \
    .appName("etl_domains") \
    .getOrCreate()

# Read csv file into Spark data frame
domains_df = spark.read.csv('../data/real_domains.csv', escape = "\"").toDF("top_level_domain", "mx_record", "a_record", "timestamp")

# Delete the timestamp column
domains_df = domains_df.drop('timestamp')

# Display the data frame
domains_df.show()

+-------------------+--------------------+-------------------+
|   top_level_domain|           mx_record|           a_record|
+-------------------+--------------------+-------------------+
|            0--1.de|["mail.0--1.de","...|  ["46.38.249.145"]|
|            0--2.de|["mxf993.netcup.n...|["212.227.212.163"]|
|       0-0-0-0-0.de|["smtp-02.tld.t-o...|   ["80.150.6.143"]|
|         0-0-0-1.de|["smtp-02.tld.t-o...|   ["80.150.6.143"]|
|             0-0.de|                  []|  ["185.53.178.13"]|
|            0-01.de|    ["mail.0-01.de"]| ["193.34.145.200"]|
|             0-1.de|       ["localhost"]| ["91.195.241.137"]|
|            0-10.de|                  []|                 []|
|          0-1000.de|       ["localhost"]| ["91.195.241.137"]|
|        0-100kmh.de| ["smtpin.rzone.de"]|  ["81.169.145.95"]|
|            0-12.de|       ["localhost"]| ["91.195.241.137"]|
|            0-17.de|       ["localhost"]| ["91.195.241.137"]|
|             0-2.de|       ["localhost"]|      ["127.0.0.1"]|
|      0-24domain.de|["pmx.bestcpanel....| ["194.38.104.220"]|
|           0-24h.de|["mxlb.ispgateway...|["134.209.177.247"]|
|     0-24leasing.de|                  []|                 []|
|0-24versicherung.de|                  []|                 []|
|        0-263475.de|                  []|   ["176.9.76.101"]|
|           0-3-0.de|                  []|                 []|
|             0-3.de|["teller.ggeg.eu"...|["185.163.116.240"]|
+-------------------+--------------------+-------------------+
only showing top 20 rows

## Transformation

The second step is the transformation of the data frame. The data set is passed to a function that cleans the data frame of special characters. Finally, empty lines are replaced by `None`.

In [3]:
# Function to clean up a data frame
def clean_data(df, column, to_delete, to_replace):
    cleaned_df = df.withColumn(column, regexp_replace(column, to_delete, to_replace))
    return cleaned_df

In [4]:
# Save the column names
col_names = domains_df.schema.names

# Clean up each column
for column in col_names:
    domains_df = clean_data(domains_df, column, '\\[|\\]|\\"', "")

In [5]:
# Show first 5 rows
domains_df.head(5)

[Row(top_level_domain='0--1.de', mx_record='mail.0--1.de,mxf993.netcup.net', a_record='46.38.249.145'),
 Row(top_level_domain='0--2.de', mx_record='mxf993.netcup.net,mail.0--2.de', a_record='212.227.212.163'),
 Row(top_level_domain='0-0-0-0-0.de', mx_record='smtp-02.tld.t-online.de,smtp-01.tld.t-online.de', a_record='80.150.6.143'),
 Row(top_level_domain='0-0-0-1.de', mx_record='smtp-02.tld.t-online.de,smtp-01.tld.t-online.de', a_record='80.150.6.143'),
 Row(top_level_domain='0-0.de', mx_record='', a_record='185.53.178.13')]

In [6]:
# Replace all empty rows with "None" and split A- and MX-records
domains_df = domains_df \
                .withColumn('mx_record', when(domains_df['mx_record'] == '', None).otherwise(split(domains_df['mx_record'], ','))) \
                .withColumn('a_record', when(domains_df['a_record'] == '', None).otherwise(split(domains_df['a_record'], ','))) 

# Display the data frame
domains_df.show()

+-------------------+--------------------+-----------------+
|   top_level_domain|           mx_record|         a_record|
+-------------------+--------------------+-----------------+
|            0--1.de|[mail.0--1.de, mx...|  [46.38.249.145]|
|            0--2.de|[mxf993.netcup.ne...|[212.227.212.163]|
|       0-0-0-0-0.de|[smtp-02.tld.t-on...|   [80.150.6.143]|
|         0-0-0-1.de|[smtp-02.tld.t-on...|   [80.150.6.143]|
|             0-0.de|                null|  [185.53.178.13]|
|            0-01.de|      [mail.0-01.de]| [193.34.145.200]|
|             0-1.de|         [localhost]| [91.195.241.137]|
|            0-10.de|                null|             null|
|          0-1000.de|         [localhost]| [91.195.241.137]|
|        0-100kmh.de|   [smtpin.rzone.de]|  [81.169.145.95]|
|            0-12.de|         [localhost]| [91.195.241.137]|
|            0-17.de|         [localhost]| [91.195.241.137]|
|             0-2.de|         [localhost]|      [127.0.0.1]|
|      0-24domain.de|[pmx.bestcpanel.e...| [194.38.104.220]|
|           0-24h.de|[mxlb.ispgateway.de]|[134.209.177.247]|
|     0-24leasing.de|                null|             null|
|0-24versicherung.de|                null|             null|
|        0-263475.de|                null|   [176.9.76.101]|
|           0-3-0.de|                null|             null|
|             0-3.de|[teller.ggeg.eu, ...|[185.163.116.240]|
+-------------------+--------------------+-----------------+
only showing top 20 rows

## Loading

The last step is to load the cleaned data frame into the PostgreSQL database. To speed up the writing process, `8 partitions` are created for parallel processing and the `batchsize` is set to `10000`.

In [7]:
# Write the data frame to the PostgreSQL database
domains_df.repartition(8).write \
    .format("jdbc") \
    .option("url", connection) \
    .option("dbtable", table) \
    .option("user", user) \
    .option("batchsize", 10000) \
    .option("password", password) \
    .mode("append") \
    .save()